<html>
<head>
    <!-- <script src="map.js"></script> -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_jFrDVFi0GpUkGsGy618L6KvQl8Q2bwo&callback=initMap">
    </script>
</head>
<body>
    <div id="map"></div>
</body>
</html>